body {

    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    /* background-color:#89cff0; */
    background-image: url(IMG_3832.JPG);
    background-size: cover;

}

header {

    text-align: center;
    margin-bottom: 50px;

}

section {

    background-color:rgba(240, 248, 255, 0.5); /* trying to add a semi-transparent background to the text so I can keep a photo as my background */

    margin-bottom: 40px;

    text-align: center;

}

h1 {

    color: orangered;
    margin: auto;

}

footer {

    margin: auto;
    background-color: rgba(240, 248, 255, 0.2);
    max-width: 120px;

}